.container {
    background-image: url("../Imagenes/fondoInicioSesion.svg");
    background-repeat: no-repeat;
    background-position: inherit;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container-inicioSesion {
    margin: auto;
    width: 400px;
    background-color: #ffffff;
    border-radius: 10pt;
    -webkit-box-shadow: 3px 3px 3px 3px #3c3b3e;
    -moz-box-shadow: 3px 3px 3px 3px #3c3b3e;
    box-shadow: 3px 3px 3px 3px #3c3b3e;
    align-items: center;
    justify-content: center;
}

.container-inputs {
    margin-left: 30pt;
    margin-right: 30pt;
    margin-bottom: 20pt;
}

.boton-registrarse {
    text-align: center;
    margin: auto;
}

.logo-inicio {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    height: 200px;
}